.artistCard {
  width: 292px;
  height: 322px;
  border-radius: 23px;
  border: 3px solid #468099;
  background: none;
  font-family: "Open Sans", sans-serif;
}

.artistCard:hover {
  background: rgba(255, 0, 199, 0);
}

.artistName {
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 20.43px;
  font-weight: 700;
  color: #ffffff;
}

.genres {
  margin-top: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.43px;
  color: #ababab;
  text-align: center;
}

.modalImage {
  border-radius: 23px;
  border: 3px solid #468099;
}

.modalName {
  text-align: center;
  margin-top: 23px;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  line-height: 54.47px;
  margin-bottom: 0;
}

.startButton {
  margin-left: 20px;
  background: #468099;
  border: none;
  color: #ffffff;
}

.cancelButton {
  background: #ababab;
  border: none;
  color: #ffffff;
}

.playerContain {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}

.plug {
  position: absolute;
  background-color: rgb(40, 40, 40);
  border-radius: 0.75rem;
}

.mainPlug {
  width: 80%;
  height: 40%;
  z-index: -1;
}

.plug1 {
  top: 105%;
  right: 55px;
  width: 30px;
  height: 30px;
}

.plug2 {
  top: 19%;
  width: 80%;
  height: 39%;
}

.plug3 {
  top: 30%;
  left: 10%;
  width: 225px;
  height: 39%;
}

.answerContain {
  margin: 0 auto;
  display: flex;
  width: 330px;
  flex-direction: column;
  align-items: center;
}
